/* Nowell Reyes - 20658133 - Thursday 9am Online Tutorial  */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Color scheme styling - sourced from https://www.schemecolor.com/reach-to-the-office.php */
body {
    background-color: #727980;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;

}

/* logoff, back, and surname hyperlinks */
a {
    text-decoration: none;
    color: #2a3c5f;
    border: 1px solid #2a3c5f;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}

a:hover {
    background-color: #2a3c5f;
    color: #EDEFE2;
}

/* Index.php page */
.form-container {
    background-color: #EDEFE2;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 500px;
    max-width: 100%;
    overflow: hidden;
}


.form-container h2 {
    font-family: "Impact", "Helvetica", sans-serif;
    background-color: #2a3c5f;
    color: #edefe2;
    font-size: 3em;
    letter-spacing: 0.03em;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0px
}

.form {
    padding: 20px 30px;
}

.form-control {

    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    width: 100px;
}

.form-control input {
    border: 2px solid #2a3c5f;
    border-radius: 4px;
    display: inline-block;
    width: 300px;
}

#submit-button {
    color: white;
    background-color: #2a3c5f;
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#submit-button:hover {
    color: #2a3c5f;
    background-color: #edefe2;
}

.error {
    color: red;
}


.container {
    background-color: #EDEFE2;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 1000px;
    overflow: hidden;
}

.container h2 {
    font-family: "Impact", "Helvetica", sans-serif;
    background-color: #2a3c5f;
    color: #edefe2;
    font-size: 2em;
    letter-spacing: 0.07em;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0px
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.navigation li {
    padding: 10px;
    margin: 10px;
}

/* Postback message box  */
.container > p {
    text-align: center;
}

.container-header {
    margin: 0px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.container-header h3 {
    margin: 0px;
    font-size: 1.5em;
    display: inherit;
    justify-content: inherit;
    width: 500px;
}

.review-containers {
    font-size: 16px;
}

#staff-table-container,
#supervisor-table-container {
    border-top: 2px solid #676060;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}


#staff-table-container table {
    margin: 10px;
    border-spacing: 10px 5px;

}

#supervisor-table-container table {
    width: 100%;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}


.employee-header,
h4 {
    width: 400px;
    padding: 15px;
    font-size: 20px;
    background-color: #2a3c5f;
    color: white;
    text-align: center;
}


td {
    padding: 10px;
    margin-bottom: 5px;

}

h4 {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
}

#review-detail {
    display: grid;

    grid-template: "emp comments comments"
        "eval comments comments"
        "eval comments comments";

    grid-gap: 10px;

    margin: 10px;
    justify-content: center;
}

#employee-section {
    grid-area: emp;
    height: auto;
    width: 550px;

}

#employee-rating {
    grid-area: eval;
    height: auto;
    width: 550px;

}

#employee-section table {
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

#employee-rating table {
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}


#additional-comments {
    grid-area: comments;
    height: auto;
    width: 400px;
}

#comments-box table {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

#acknowledgement {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}

#acknowledgement h3 {
    margin: auto;
    width: 90%;
    text-align: center;
}

form div{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

#acknowledgement > input[type="checkbox"], input[type="submit"] {
    
    margin:15px 20px;
    padding:5px;
    width:100px;
}

input[type="submit"]{
    border-radius: 4px;
    font-weight:bold;
    font-size:14px;
}

input[type="submit"]:hover {
    background-color:#2a3c5f;
    color:#EDEFE2;
}

#newReview {
    margin:20px;
}

